RewriteEngine On

RewriteRule ^(config|src|sql|storage)(/|$) - [F,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^public/ - [L]

RewriteRule ^ public/index.php [QSA,L]
